body {
    background-color: white;
}

.slide {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
}

.active.slide {
    visibility: visible;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}

canvas[resize] {
    width: 100%;
    height: 100%;
}

@keyframes fadeInOpacity {
    0% {
	opacity: 0;
    }
    100% {
	opacity: 1;
    }
}
